.tour_content{
    width: 60vw;
    height: auto;
    color: rgb(0, 132, 255);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;

}
.tour{
    margin: 20px 20px 0 20px;

}
@keyframes slide_down{
    from{
        height: 300%;
        background: #0084ff;
        top: -50%;
    }
    to{
       height: auto;
       height:87% ;
       top: 10%;
    }
}
.cards{
    position: absolute;
    top: 10%;
    left: 8%;
    width: 80vw;
    margin: 10px;
    border-radius: 10px;
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap; 
    animation: slide_down 1s;
  
}
@keyframes card_slide_down{
    from{
        margin-top: 300px;
    }
    to{
       height: auto;
    }
}
.card{
    line-height: 25px;
    width: 70vw ;
    height: auto;
    margin-bottom: 20px;
    color: #0084ff;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    animation: card_slide_down 2s; 
    border-radius: 20px;
}
.card h2{
    color: orangered;
    text-align: center;
}.card a{
    text-decoration: none;
    color: coral;
}
.profile{
    overflow: hidden;
    text-align: center;
}
.profile img{
    margin-top: 10px;
    height: 200px;
    border-radius: 50%;
}
