*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 980px) and (orientation: portrait) and (min-height:1000px){
    *{
        font-size: 30px;
        letter-spacing: 2px;
    }
        .navbar{
            width: 85%;
            height: 8%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .hero{
            background: url(images/background.jpg);
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center;
            position: relative;
            overflow: hidden;
        }

        .logo h2{
           font-size: 200%;
        }
       .navbar button{
           font-size: 100%;
           border: 5px solid #000;
           margin-right: 25px;
        }
        .content h3{
           font-size: 300%;
        }
        .content button{
            font-size:100%;
            border: 5px solid #000;
        }
        .hero .side_bar{
            size: 200%;
            margin-right: 20px;
            width: auto;
        }
        .menu{
            display: block;
            width: 50px;
            margin: 10px auto 0;
            border-radius: 30px;
            cursor: pointer;
        }
        .hero .side_bar img{
            width: 60px;
            margin: auto;
            cursor: pointer;
            border-radius: 10px;
            margin-top: 72px;
        } .hero .side_bar .useful_links{
            margin-bottom: 60px;

        }
        .hero .bubbles{
            position:fixed;
            right: 0;
            bottom: 0;
            color: rgb(0, 132, 255);
            left: 0;
            width: 100vw;
            background: rgba(0, 0, 0, 0.856);
            padding: 10px;
            font-size: 100%;
            z-index: 3;
        }
        .bubbles a{
        text-decoration: none;
        color: orangered;
        }
        .bubbles h3{
            animation: liquid;
            animation-duration: 4s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-direction:alternate-reverse;
            animation-timing-function: linear;
            
        }
        @keyframes liquid{
            from{
                transform: translateX(40vw);
                opacity: 0;
            }
            10%{
                opacity: 1;
            }
            96%{
                opacity: 1;
            }to{
                transform: translateX(-10vw);
                opacity: 0;
            }


        }
        .hero .side_menu {
            display: none;
            height: auto;
            width: 50%;
            position: absolute;
            z-index: 5;
            top: 7%;
            right: 3%;
            background-color: rgba(241, 235, 235, 0.7);
            overflow-x: hidden;
            padding-top: 60px;
            border-radius: 30px;
        }

       .side_menu a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            font-size: 60px;
            color: rgb(0, 132, 255);
            display: block;
        }

        .side_menu a:hover {
            color: orangered
        }

        .side_menu .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .direction{
            width:80vw;
            padding: 0 10% 0 10%;
            display: flex;
            font-size: 200%;
            align-items: center;
            justify-content: space-between;
            color: white;
            padding: 10px;

        }
        .direction img{
            width: 50px;
            cursor: pointer;
        }
}


@media only screen and (orientation: portrait), (hover: none) { 
   
       button{
        color: rgb(0, 132, 255);
        font-weight: bold;
        padding: 10px 25px;
        background: transparent;
        border: 2px solid #000;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
       }
       .logo{
           width:auto;
       }
 }

.hero{
    background: url(images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.default_background{
    background: linear-gradient(150deg,#9C654E,#2B1D1C 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.logo{
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: rgb(0, 132, 255);
    font-weight: bold;
    padding: 7px 20px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(0, 91, 86);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: rgb(0, 132, 255);
    background: rgba(0, 0, 0, 0.856);
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    z-index: 2;
}
h1{
    line-height: 80px;
    font-size: 70px;
    margin: 20px 0 30px;

}
.side_bar{
    width: 60px;
    height: 100vh;
    background:transparent;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.menu{
    display: block;
    width: 50px;
    margin: 10px auto 0;
    border-radius: 30px;
    cursor: pointer;
}
.side_bar img{
    width: 40px;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 10px;

}.social_links img, .useful_links img{
    width: 50px;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 10px;
    
}
.social_links{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.useful_links{
    width: 50px;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.bubbles{
    position:fixed;
    right: 0;
    bottom: 0;
    color: rgb(0, 132, 255);
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.856);
    font-size: 15px;
    z-index: 3;
}
.bubbles a{
 text-decoration: none;
 color: orangered;
}
.bubbles p{
    animation: liquid;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: linear;
    
}
@keyframes liquid{
    from{
        transform: translateX(40vw);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    96%{
        opacity: 1;
    }to{
        transform: translateX(-10vw);
        opacity: 0;
    }

}
.side_menu {
    display: none;
    height: auto;
    width: 250px;
    position: absolute;
    padding: 10px;
    z-index: 5;
    top: 7%;
    right: 3%;
    background-color: rgba(241, 235, 235, 0.7);
    overflow-x: hidden;
    padding-top: 100px;
    border-radius: 25px;
}

.side_menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 100%;
    color: rgb(0, 132, 255);
    display: block;
}

.side_menu a:hover {
    color: orangered;
    cursor: pointer;
}

.side_menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.direction{
    width:80vw;
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;

}
.direction img{
    width: 50px;
    cursor: pointer;
}
.default-text-color-p{
    color: rgb(136, 176, 209);
}
.color-blue{
    color: rgb(0, 132, 255);
}
.color-orangered{
    color: orangered;
}

.profile{
    overflow: hidden;
    text-align: center;
}
.profile img{
    margin-top: 10px;
    height: 200px;
    border-radius: 50%;
}
.cursor-pointer{
    cursor: pointer;
}
iframe{
    background: #dbdbdb;
}