body{
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-y: hidden;
    font-size: 25px;

}
.tour_content{
    width: 60vw;
    height: auto;
    color: rgb(0, 132, 255);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;

}
.tour{
    margin: 20px 20px 0 20px;

}

@keyframes slide_down{
    from{
        height: 300%;
        top: -50%;
        z-index: 2;
    }
    to{
       height: auto;
       top: 25%;
       z-index: 2;
    }
}
.cards{
    position: absolute;
    top: 22%;
    left: 8%;
    width: 80vw;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    bottom: 7%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap;
    animation: slide_down 1s;
    display: none;
    z-index: 2;
    font-size: 18px;
}
@keyframes card_slide_down{
    from{
        margin-top: 300px;
    }
    to{
       height: auto;
    }
}
.card{
    width: 75vw;
    height: auto;
    margin-bottom: 20px;
    color: #0084ff;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    animation: card_slide_down 2s;
}
.card h2{
    color: orangered;
}.card a{
    text-decoration: none;
    color: coral;
}

