@media (max-width: 980px) and (orientation: portrait) and (min-height:1000px){
                    
                .card{
                    font-size: 150%;
                }
                .card h2{
                    text-align: center;
                    
                }

                .specs{
                    padding: 20px 50px 0 50px;
                    width: 90%;
                
                }
                .specs  .th{
                    text-align: center;   
                }

}
.hero_windows{
    background: url(Windows_11_Pantone_Dark.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.cards{
    position: absolute;
    top: 5%;
    left: 8%;
    width: 80vw;
    margin: 10px;
    border-radius: 10px;
    height: 90%;

    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap;  

}
.card{
    line-height: 25px;
    width: 70vw ;
    height: auto;
    margin-bottom: 20px;
    color: #9B9CCC;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
}
.card h2{
    text-align: center;
}

.card .specs{
    width: 100%;
    margin-top: 20px;
}

.card img{
    width: 80%;
}
.card ol{
   width: 100%;
}

.download_screenshot{
    left: 10px;
    position: relative;
   top: 200px;
}
.download_screenshot a{
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: salmon;
    padding: 10px;
    border-radius: 5px;
}

@keyframes button_animation{
    from{
        background: #9B9CCC;
        color: blue;
    }
    10%{
      
    }
    96%{
      
    }to{
      background: transparent;
    }
}
button{
    color: #9B9CCC;
    font-weight: bold;
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;

    animation: button_animation;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: linear;
}